#timelineContainer {
    padding: 15px !important;
}

.chat-item-content p {
    margin: 0;
    padding: 0;
}

.container-chat-item-item {
    width: 100%;
    height: auto;
    border: 1px solid rgba(99, 98, 98, 0.308);
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: transform 0.2s, box-shadow 0.2s;
}

.container-chat-item-item:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.operador-chat {
    font-size: 13px;
    font-weight: bold;
    color: #2185f0;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.operador-chat i {
    margin-right: 5px;
}

.text-chat-item {
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: pre-wrap;
    font-size: 14px;
    line-height: 1.6;
    color: #333;
}

.small-date-item-modal {
    font-size: 11px;
    position: absolute;
    padding: 2px 6px;
    bottom: 5px;
    right: 5px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    color: #666;
}
