@charset "UTF-8";@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;

    font-family: "Roboto", sans-serif !important;
    font-weight: 400!important;
    font-style: normal;

}

/* Para personalizar a barra de rolagem */
::-webkit-scrollbar {
    width: 8px; /* largura da barra de rolagem vertical */
    height: 8px; /* altura da barra de rolagem horizontal */
}

/* Para personalizar o trilho da barra de rolagem */
::-webkit-scrollbar-track {
    background: #f1f1f1; /* cor de fundo do trilho */
    border-radius: 10px; /* arredondamento do trilho */
}

/* Para personalizar o polegar da barra de rolagem */
::-webkit-scrollbar-thumb {
    background: #444343; /* cor do polegar */
    border-radius: 10px; /* arredondamento do polegar */
}

/* Para a cor do polegar ao passar o mouse */
::-webkit-scrollbar-thumb:hover {
    background: #555; /* cor ao passar o mouse */
}


/*Variaveis do Projeto*/

:root{

}

body{
    background-color: rgb(51, 51, 51)!important;
}

header{
    width: 100%!important;
    height: 50px!important;

    


}

main{
    width: 100%;
    height: 100%;
}

.Container_Main_Content{
    width: 100%;
    height: 100%;

    display: flex;
    background-color: rgb(51, 51, 51)!important;
}

.suggestions-container {
    border: 1px solid #ccc;
    max-height: 100px;
    overflow-y: auto;
    position: absolute;
    background-color: white;
    width: calc(100% - 22px);
    z-index: 1000;
}

.suggestion-item {
    padding: 8px;
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: #f0f0f0;
}

.input-wrapper {
    position: relative;
}

.input-field {
    width: 100%;
    padding: 8px;
}
