
.gradient-custom-2 {
    background: linear-gradient(to right, #003d8d, #0150c7);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.gradient-form {
    height: 100vh;
}

.card {
    border-radius: 1rem;
}

.Container-max-h {
    height: 100vh;

}

.btn-login{
    background-color: #003d8d;
    color: #fff;
}

.btn-login:hover{
    background-color: #032858;
    color: #fff;
}