.card-modal {
    display: none; /* Inicialmente escondido */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro semi-transparente */
}

.card-modal-content {
    background-color: white;
    margin: 10% auto; /* Centraliza o modal verticalmente */
    padding: 20px;
    border: 1px solid #888;
    width: 60%; /* Largura do modal */
    border-radius: 8px;
    position: relative;
}

.card-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.card-close:hover,
.card-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.Container-Modal-view {
    max-height: 500px; /* Altura máxima do conteúdo do modal */
    overflow-y: auto; /* Rolagem vertical se necessário */
}

.modal-info {
    margin-top: 10px;
}

.Container_Header_Modal,
.Container_Footer_Modal {
    text-align: center;
    margin-bottom: 10px;
}

.container-infos-arquivos .text-center {
    margin-top: 20px;
}
